a,li{
 color:black;
 text-decoration: none;
}
h1{
  font-size: 45px;
  position:absolute;
  text-align: center;
  z-index: 2;
  border-bottom: 1px solid none;
  margin: 0;
}
h3{
  font-size: 20px;
  text-align: center;
}
h4{
  border: 3px solid yellow;
  padding: 10px;
  margin: 0px;
  width: 80px;
  background-color:#FFFFE0;
}
img.{
 position:absolute;top:100px; left:100px;z-index: 1;
}

#要素１ li{
position: relative;
float:left;
margin: 0;
padding:5px;
width:150px;
height:20px;
border: solid 1px #ccc;
font-weight:bold;
}
#要素１ li:hover{
 background:powderblue;
}
#要素１ li ul{
  display: none;
  position: absolute;
  top:30px;
  left:-1px;
  padding:5px;
  width:150px;
  background:#eee;
  border: solid 1px #ccc;
}
#要素１ li ul li{
  margin: 0;
  padding: 0;
  width: 150px;
  border: none;
}
#要素１ li ul li {
  display: inline-block;
  width: 150px;
  height:20px;
}
#要素１ li ul li :hover{
  background: #999;
  color: #fff;
}
